@page
@model exe201.Pages.Admin.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.User.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.User.Username)
        </dd>
    </dl>
</div>
<h4>Order Details</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model.Order.OrderDetails)
        {
            <tr>
                <td>@detail.Product.Name</td>  @* Giả sử Product có thuộc tính Name *@
                <td>@detail.Quantity</td>
                <td>@detail.Price.ToString("C")</td>
                <td>@((detail.Quantity * detail.Price).ToString("C"))</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
